
.Meses{
    min-height: auto;
    height: auto;
    width: 380px;
    padding: 30px;
    margin: auto;
    margin-top: 120px;
    border-radius: 4px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgba(142, 92, 235, 0.33);
    box-shadow:  0 1rem 1rem rgba(0,0, 0, 0.3);
    position:relative;
}
*{
    margin: 0;
    padding: 0px;
    box-sizing: bord
}
body{
    width: 100%;
    height: 100px;
    min-height: auto;
    max-width: auto;
    background-color: rgb(166, 202, 233);
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}