.Ventanas{
    min-height: auto;
    height: auto;
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgba(105, 114, 231, 0.33);
    box-shadow:  0 1rem 1rem rgba(0,0, 0, 0.3);

}
select{
    display: block;
 width: 100%;
 height: 40px;
 padding: 5px 6px;
 margin-bottom: 15px;
 border: none;
 outline: none;
 border-radius: 1px;
}
h1{
    font-size: 40px;
   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: bord
}
body{
    width: 100%;
    height: 100px;
    min-height: auto;
    max-width: auto;
    font-size: 25px;
}
input{
    color: blue;
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 6px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 1px;
}

